[project]
	description = FreeRDP is a free remote desktop protocol client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/simon coleman (caramorsimon)
[access "refs/for/refs/*"]
	read = group user/simon coleman (caramorsimon)
	push = group user/simon coleman (caramorsimon)
	label-Code-Review = -2..+2 group user/simon coleman (caramorsimon)
	label-Verified = -1..+1 group user/simon coleman (caramorsimon)
	rebase = group user/simon coleman (caramorsimon)
	removeReviewer = group user/simon coleman (caramorsimon)
	submit = group user/simon coleman (caramorsimon)
[access "refs/heads/*"]
	read = group user/simon coleman (caramorsimon)
	create = group user/simon coleman (caramorsimon)
	push = +force group user/simon coleman (caramorsimon)
	pushMerge = group user/simon coleman (caramorsimon)
[access "refs/tags/*"]
	push = +force group user/simon coleman (caramorsimon)
	pushTag = group user/simon coleman (caramorsimon)
	pushSignedTag = group user/simon coleman (caramorsimon)
